{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Captain Quail - {% endblock %}</title>
        <meta name="description" content="{% block meta-desc %}Mighty hawks! Fearless quails! Horrible puns! A free webcomic about Birds! In! Spaaaace!{% endblock %}">
        {% block fb_tags %}{% endblock %}
        <link rel="icon" href="{% static "favicon.ico" %}">
        <link rel="stylesheet" href="{% static "sass/stylesheets/styles.css" %}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static "sass/stylesheets/comic.css" %}">
        <script async type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script async src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script async type="text/javascript" src="//use.typekit.net/tud6pwy.js"></script>
        <script async type="text/javascript">try{Typekit.load();}catch(e){}</script>
        {% block extra_head %}
        {% endblock %}

        <!-- google analytics below -->
        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_KEY }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>
    </head>
    <body>
        {% block body %}
            {% include "header.html" %}
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            {% include "footer.html" %}
        {% endblock %}

        <!-- JS for Support Widget -->
        <script>
        UserVoice = window.UserVoice || [];
        UserVoice.push(['showTab', 'classic_widget', {
          mode: 'full',
          primary_color: '#009aa8',
          link_color: '#007dbf',
          default_mode: 'support',
          forum_id: 223657,
          tab_label: 'Contact Us',
          tab_color: '#000000',
          tab_position: 'middle-right',
          tab_inverted: false
        }]);
        </script>

        <!-- disqus js below -->
        {% if disqus_identifier %}
        <script type="text/javascript">
            var disqus_shortname = 'quailcomics';
            var disqus_identifier = '{{ disqus_identifier }}';

            {% if disqus_url %}
            var disqus_url = '{{ disqus_url }}';
            {% endif %}

            {% if disqus_title %}
            var disqus_title = '{{ disqus_title }}';
            {% endif %}

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        {% endif %}

        <!-- UserVoice JavaScript SDK (only needed once on a page) -->
        <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/7vZK95BYqTAxjLJf4Nkyjg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()
        </script>

        <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
            typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
            b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
            mixpanel.init("{{ MIXPANEL_KEY }}");</script><!-- end Mixpanel -->

        {% block js_defer %}

        {% endblock %}
    </body>