.comic {
    display: block;
    margin: 0 auto;
}

.comic_footer {
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.row-message {
    margin-bottom: 0px;
}

.footer {
    text-align: center;
}

.sidebar-ad {
    text-align: center;
}

.cq-red {
    color: #ff0404;
}

.cq-orange {
    color: #ffb439;
}

.cq-light-blue {
    color: #68e2f8;
}

.cq-blue {
    color: #2f6ae3;
}

.text-shortened {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}

