$default-bg-color: #e2f2f2;
$headings-font-family: "cubano";
$font-family-base: "ff-nuvo-web-pro";
$navbar-default-bg: $default-bg-color;
$navbar-default-border: $default-bg-color;
$body-bg: $default-bg-color;

// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
