.comic {
    display: block;
    margin: 0 auto;
}

.comic_footer {
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.row-message {
    margin-bottom: 0px;
}

.footer {
    text-align: center;
}

.sidebar-ad {
    text-align: center;
}