{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }}
    {% if is_editing %}
        Edit Comic
    {% else %}
        Add Comic
    {% endif %}
{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-md-offset-1 col-md-3">
            {% if is_editing %}
            <h3>Edit Comic</h3>
            {% else %}
            <h3>Add Comic</h3>
            {% endif %}
        </div>
        <div class="form-group col-md-3">
            {{ form.pebble.errors }}
            <span class="label label-default"><label for="id_pebble">Post To</label></span>
            {{ form.pebble }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-offset-1 col-md-3">
            {{ form.title.errors }}
            <span class="label label-default"><label for="id_title">Title</label></span>
            {{ form.title }}
        </div>
        <div class="form-group col-md-3">
            {{ form.slug.errors }}
            <span class="label label-default"><label for="id_slug">Slug</label></span>
            {{ form.slug }}
        </div>
        <div class="form-group col-md-2">
            {{ form.published.errors }}
            <span class="label label-default"><label for="id_published">Published</label></span>
            {{ form.published }}
        </div>
        <div class="form-group col-md-2">
            {{ form.is_live.errors }}
            <span class="label label-default"><label for="id_is_live">Is Live?</label></span>
            {{ form.is_live }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-3">
            <input type="file" id="files" onchange="s3_upload();" value="Choose a file"/>
            <p id="status">Please select a file</p>
        </div>
        <div class="form-group col-md-3">
            {{ form.image_url.errors }}
            <span class="label label-default"><label for="id_image_url">Image Url</label></span>
            {{ form.image_url }}
        </div>
        <div class="form-group col-md-3">
            {{ form.alt_text.errors }}
            <span class="label label-default"><label for="id_alt_text">Alt Text</label></span>
            {{ form.alt_text }}
        </div>
    </div>
    <div class="row" id="preview">
    </div>
    <div class="row row-padded">
        <div class="form-group col-md-offset-2 col-md-8">
            {{ form.post.errors }}
            <p class="label label-default"><label for="id_post">Post</label></p>
            {{ form.post }}
        </div>
    </div>
    <!-- <div class="row row-padded">
        <div class="form-group col-md-8 col-md-offset-2">
            {{ form.tags.errors }}
            <p class="label label-default"><label for="id_tags">Tags</label></p>
            {{ form.tags }}
        </div>
    </div> -->
    {% if fb_token or tw_token %}
    <div class="row row-padded">
        <div class="col-md-offset-2 col-md-2">
            <div class="form-group">
                {{ form.post_to_social.errors }}
                <p class="label label-default"><label for="id_post_to_social">Post to Social Networks?</label></p>
                {{ form.post_to_social}}
            </div>
            <div class="form-group">
                {{ form.social_post_time.errors }}
                <span class="label label-default"><label for="id_social_post_time">Social Post Time</label></span>
                {{ form.social_post_time }}
            </div>
        </div>
        {% if fb_token %}
        <div class="form-group col-md-3">
            {{ form.facebook_post_message.errors }}
            <span class="label label-default"><label for="id_facebook_post_message">Facebook Post Message</label></span>
            {{ form.facebook_post_message }}
            <p id="facebook-count">Characters:</p>
        </div>
        {% endif %}
        {% if tw_token %}
        <div class="form-group col-md-3">
            {{ form.twitter_post_message.errors }}
            <span class="label label-default"><label for="id_twitter_post_message">Twitter Post Message</label></span>
            {{ form.twitter_post_message }}
            <p id="twitter-count">Characters Left: 120</p>
        </div>
        {% endif %}
    </div>
    {% endif %}
    <input class="btn btn-success col-md-offset-1" type="submit" value="Save" />
    {% if is_editing %}
    <a class="btn btn-primary" href="{% url 'comicpreviewview' comic_id %}">Preview</a>
    {% endif %}
</form>
{% endblock %}

{% block js_defer %}
<script type="text/javascript" src="{% static "sass/javascripts/add_comic.js" %}"></script>
<script type="text/javascript" src="{% static "sass/javascripts/lodash.min.js" %}"></script>
<script type="text/javascript" src="{% static "sass/javascripts/s3upload.js" %}"></script>
<script type="text/javascript">
    window.AddComic.init()
</script>
<script type="text/javascript">
function s3_upload(){
    var s3upload = new S3Upload({
        file_dom_selector: '#files',
        s3_sign_put_url: '/comic/sign_s3/',
        onProgress: function(percent, message) {
            $('#status').html('Upload progress: ' + percent + '%' + message);
        },
        onFinishS3Put: function(public_url) { 
            // $('#status').html('Upload completed. Uploaded to: '+ public_url);
            $("#id_image_url").val(public_url);
            $("#preview").html('<img class="comic img-responsive" src="'+public_url+'" />');
        },
        onError: function(status) {
            $('#status').html('Upload error: ' + status);
        }
    });
}
mixpanel.identify('{{ user.id }}');
{% if is_editing %}
mixpanel.track("Comic Edit Page Hit", {"comic_id": "{{ comic_id }}"});
{% else %}
mixpanel.track("Comic Add Page Hit");
{% endif %}
</script>
{% endblock %}
