{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block content %}
<input type="file" id="files"  onchange="s3_upload();"/>
<p id="status">Please select a file</p>

<form enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="form-group col-md-offset-1 col-md-3">
            {{ form.published.errors }}
            <span class="label label-default"><label for="id_published">Published:</label></span>
            {{ form.published }}
        </div>
        <div class="form-group col-md-3">
            {{ form.is_live.errors }}
            <span class="label label-default"><label for="id_is_live">Is Live?</label></span>
            {{ form.is_live }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-offset-1 col-md-3">
            {{ form.image_url.errors }}
            <span class="label label-default"><label for="id_image_url">Image Url:</label></span>
            {{ form.image_url }}
        </div>
        <div class="form-group col-md-3">
            {{ form.image_url_large.errors }}
            <span class="label label-default"><label for="id_image_url_large">Large Image Url:</label></span>
            {{ form.image_url_large }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-offset-1 col-md-4">
            {{ form.image.errors }}
            <span class="label label-default"><label for="id_image">Image:</label></span>
            {{ form.image }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-offset-1 col-md-3">
            {{ form.title.errors }}
            <span class="label label-default"><label for="id_title">Title:</label></span>
            {{ form.title }}
        </div>
        <div class="form-group col-md-3">
            {{ form.slug.errors }}
            <span class="label label-default"><label for="id_slug">Slug:</label></span>
            {{ form.slug }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-offset-1 col-md-8">
            {{ form.post.errors }}
            <p class="label label-default"><label for="id_post">Post:</label></p>
            {{ form.post }}
        </div>
    </div>
    <input class="btn btn-default col-md-offset-1" type="submit" value="Save" />
</form>
{% endblock %}

{% block js_defer %}
<script type="text/javascript" src="{% static "lodash.min.js" %}"></script>
<script type="text/javascript" src="{% static "s3upload.js" %}"></script>
<script type="text/javascript">
function s3_upload(){
    var s3upload = new S3Upload({
        file_dom_selector: '#files',
        s3_sign_put_url: '/comic/sign_s3/',
        onProgress: function(percent, message) {
            $('#status').html('Upload progress: ' + percent + '%' + message);
        },
        onFinishS3Put: function(public_url) { 
            $('#status').html('Upload completed. Uploaded to: '+ public_url);
            $("#avatar_url").val(public_url);
            $("#preview").html('<img src="'+public_url+'" style="width:300px;" />');
        },
        onError: function(status) {
            $('#status').html('Upload error: ' + status);
        }
    });
}
</script>
{% endblock %}
