{% extends "base.html" %}

{% block title%}Quail Comics - {{ comic.title }}{% endblock %}

{% block content %}
{% if last_read_comic %}
<div class="row row-message">
<div class="col-md-6 col-md-offset-3 alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span>Looks like you're not where you left off. Go to your last read page?</span>
    <a href="/comic/{{ last_read_comic }}/" class="btn btn-info btn-sm">Yes please!</a>
</div>
</div>
{% endif %}
{% include "comic.html" %}
<div class="row">
    {% include "sidebar_ad.html" %}
    <div class="col-md-4">
        <p class="lead">{{ post.published | date:"DATE_FORMAT" }}</p>
        {{ post.post | safe }}
    </div>
    <div class="col-md-4">
        {% include "disqus.html" %}
    </div>
    {% include "sidebar_ad.html" %}
</div>
{% endblock %}

{% block js_defer %}
{% include "js_comic_navigation.html" %}
{% endblock %}