<div class="row">
    <h4>
        {% for tag in comic.tags.all %}
        <a href="/comic/tag/{{ tag.tag }}"><span class="badge">{{ tag.tag }}</span></a>
        {% endfor %}
    </h2>

</div>
<div class="row">
    <div>
    {% if next %}
    <a title="{{ comic.alt_text }}" href="/comic/{{ last_comic.post.slug }}" target="_blank">
        <img class="img-responsive comic" src="{{ comic.image_url }}" title="{{ comic.alt_text }}" alt="{{ comic.alt_text }}"></img>
    </a>
    {% else %}
        <img class="img-responsive comic" src="{{ comic.image_url }}" title="{{ comic.alt_text }}" alt="{{ comic.alt_text }}"></img>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="comic_footer">
        <div class="row">
            {% if first_comic %}
            <a class="btn btn-default" href="/comic/{{ first_comic.post.slug }}" title="first">
                <span class="fa fa-step-backward"></span>
            </a>
            {% endif %}
            {% if previous %}
            <a class="btn btn-default" href="/comic/{{ previous.post.slug }}" title="previous">
                <span class="fa fa-arrow-left"></span>
            </a>
            {% endif %}
            {% if pebble_settings.show_subscribe %}
            <a href="javascript:void(0);" id="subscribe-btn" class="btn btn-default" data-toggle="popover">
                <span class="fa fa-plus-square"></span> Subscribe <span id="popover-action" class="caret"></span>
            </a>
            {% endif %}
            <a href="/share/" id="share-btn" class="btn btn-default">
                Share <span class="fa fa-share"></span>
            </a>
            {% if next %}
            <a class="btn btn-default" href="/comic/{{ next.post.slug }}" title="next">
                <span class="fa fa-arrow-right"></span>
            </a>
            {% endif %}
            {% if last_comic %}
            <a class="btn btn-default" href="/comic/{{ last_comic.post.slug }}" title="last">
                <span class="fa fa-step-forward"></span>
            </a>
            {% endif %}
        </div>
    </div>
</div>