{% extends "base.html" %}

{% block title%}{{ block.super }}{{ comic.title }}{% endblock %}

{% block fb_tags %}
<meta property="og:image" content="{{ comic.image_url }}">
<meta property="og:image:type" content="image/png">
{% endblock %}

{% block content %}
{% include "messages.html" %}
{% include "comic.html" %}
<div class="row">
    <div class="row">
{% if post %}
    <div class="col-md-8 col-md-offset-2">
        <p class="lead">{{ post.title }} ({{ post.published | date:"DATE_FORMAT" }})    </p>{{ post.post | safe }}
    </div>
{% endif %}
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
            {% include "disqus.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block js_defer %}
<script type="text/javascript" src="{{ STATIC_URL }}subscribe_popover.js"></script>
<script>window.SubscribePopover.init();</script>

{{ block.super }}

{% include "js_comic_navigation.html" %}
<script type="text/javascript" src="{{ STATIC_URL }}mixpanel_tracking.js"></script>
<script>window.MixpanelTracking.init();</script>
{% endblock %}
