{% load staticfiles %}
{% load gargoyle_tags %}

<div class="row">
    {% if tags %}
    <h4>
        {% for tag in tags %}
        <a href="/comic/tag/{{ tag.id }}"><span class="badge">{{ tag.tag }}</span></a>
        {% endfor %}
    </h2>
    {% endif %}

</div>
<div class="row">
    <div>
    {% if next %}
    <a title="{{ comic.alt_text }}" href="/comic/{{ next.post.slug }}">
        <img class="img-responsive comic" src="{{ comic.image_url }}" title="{{ comic.alt_text }}" alt="{{ comic.alt_text }}"></img>
    </a>
    {% else %}
        <img class="img-responsive comic" src="{{ comic.image_url }}" title="{{ comic.alt_text }}" alt="{{ comic.alt_text }}"></img>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="comic_footer">
        <div class="row">
            <small>
                {% if writers %}
                Written by 
                {% for writer in writers %}
                    {% if forloop.last %}
                        <a href="{{ writer.contributor.userprofile.profile_url }}">{{ writer.contributor.first_name }}</a>.
                    {% else %}
                        <a href="{{ writer.contributor.userprofile.profile_url }}">{{ writer.contributor.first_name }}</a>, 
                    {% endif %}
                {% endfor %}
                {% endif %}
                {% if artists %}
                Art by 
                {% for artist in artists %}
                    {% if forloop.last %}
                        <a href="{{ artist.contributor.userprofile.profile_url }}">{{ artist.contributor.first_name }}</a>.
                    {% else %}
                        <a href="{{ artist.contributor.userprofile.profile_url }}">{{ artist.contributor.first_name }}</a>, 
                    {% endif %}
                {% endfor %}
                {% endif %}
                {% if creators %}
                Created by 
                {% for creator in creators %}
                    {% if forloop.last %}
                        <a href="{{ creator.contributor.userprofile.profile_url }}">{{ creator.contributor.first_name }}</a>.
                    {% else %}
                        <a href="{{ creator.contributor.userprofile.profile_url }}">{{ creator.contributor.first_name }}</a>, 
                    {% endif %}
                {% endfor %}
                {% endif %}
            </small>
        </div>
        <div class="row">
            {% if first_comic %}
            {% ifswitch image_nav_buttons %}
            <a style="background-image: url({% static 'img/thumb1.png' %})" class="btn btn-default comic-nav-button" href="/comic/{{ first_comic.post.slug }}" title="first">
            {% else %}
            <a class="btn btn-default" href="/comic/{{ first_comic.post.slug }}" title="first">
            {% endifswitch %}
                <span class="fa fa-fast-backward"></span>
            </a>
            {% endif %}
            {% if chapter_backward %}
            {% ifswitch image_nav_buttons %}
            <a class="btn btn-default comic-nav-button" href="/comic/{{ chapter_backward.post.slug }}" title="chapter backward">
            {% else %}
            <a class="btn btn-default" href="/comic/{{ chapter_backward.post.slug }}" title="first">
            {% endifswitch %}
                <span class="fa fa-step-backward"></span>
            </a>
            {% endif %}
            {% if previous %}
            {% ifswitch image_nav_buttons %}
            <a class="btn btn-default comic-nav-button" href="/comic/{{ previous.post.slug }}" title="previous">
            {% else %}
            <a class="btn btn-default" href="/comic/{{ previous.post.slug }}" title="previous">
            {% endifswitch %}
                <span class="fa fa-arrow-left"></span>
            </a>
            {% endif %}
            {% if pebble_settings.show_subscribe %}
            <a href="javascript:void(0);" id="subscribe-btn" class="btn btn-default" data-toggle="popover" onClick="_gaq.push(['_trackEvent', 'Subscription Click', 'Email', 'Comic Subscribe Button'])">
                <span class="fa fa-plus-square"></span> Subscribe <span id="popover-action" class="caret"></span>
            </a>
            {% endif %}
            {% if not hide_share %}
            <a href="/share/" id="share-btn" class="btn btn-default">
                Share <span class="fa fa-share"></span>
            </a>
            {% endif %}
            {% if next %}
            {% ifswitch image_nav_buttons %}
            <a class="btn btn-default comic-nav-button" href="/comic/{{ next.post.slug }}" title="next">
            {% else %}
            <a class="btn btn-default" href="/comic/{{ next.post.slug }}" title="previous">
            {% endifswitch %}
                <span class="fa fa-arrow-right"></span>
            </a>
            {% endif %}
            {% if chapter_forward %}
            {% ifswitch image_nav_buttons %}
            <a class="btn btn-default comic-nav-button" href="/comic/{{ chapter_forward.post.slug }}" title="chapter forward">
            {% else %}
            <a class="btn btn-default" href="/comic/{{ chapter_forward.post.slug }}" title="first">
            {% endifswitch %}
                <span class="fa fa-step-forward"></span>
            </a>
            {% endif %}
            {% if last_comic %}
            {% ifswitch image_nav_buttons %}
            <a class="btn btn-default comic-nav-button" href="/comic/{{ last_comic.post.slug }}" title="last">
            {% else %}
            <a class="btn btn-default" href="/comic/{{ last_comic.post.slug }}" title="last">
            {% endifswitch %}
                <span class="fa fa-fast-forward"></span>
            </a>
            {% endif %}
        </div>
    </div>
</div>