<div class="row">
    <h4 class="col-md-offset-1">
        <small>{{ comic.published | date:"DATE_FORMAT" }}</small>
        {% for tag in comic.tags.all %}
        <a href="/comic/tag/{{ tag.tag }}"><span class="badge">{{ tag.tag }}</span></a>
        {% endfor %}
    </h2>

</div>
<div class="row">
    <div>
    {% if next %}
    <a title="{{ comic.alt_text }}" href="/comic/{{ last_comic.post.slug }}" target="_blank">
        <img class="img-responsive comic" src="{{ comic.image_url }}" title="{{ comic.alt_text }}" alt="{{ comic.alt_text }}"></img>
    </a>
    {% else %}
        <img class="img-responsive comic" src="{{ comic.image_url }}" title="{{ comic.alt_text }}" alt="{{ comic.alt_text }}"></img>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="comic_footer">
        <div class="row">
            <div class="btn-group">
                {% if first_comic %}
                <a class="btn btn-default" href="/comic/{{ first_comic.post.slug }}" title="first">
                    <span class="fa fa-fast-backward"></span>
                </a>
                {% endif %}
                {% if previous %}
                <a class="btn btn-default" href="/comic/{{ previous.post.slug }}" title="previous">
                    <span class="fa fa-backward"></span>
                </a>
                {% endif %}
            </div>
            <a href="javascript:void(0);" id="subscribe-btn" class="btn btn-default" data-toggle="popover">
                <span class="fa fa-plus-square"></span> Subscribe <span id="popover-action" class="caret"></span>
            </a>
            <div class="hidden subscribe-popover-content">
                <form action="http://inkpebble.us3.list-manage1.com/subscribe/post?u=0591f32c13358b969bde9f7c9&amp;id=274876cee0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="form-group">
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                </div>
                <input type="submit" value="Get weekly updates!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-sm">
                </form>
            </div>
            <div class="btn-group">
                {% if next %}
                <a class="btn btn-default" href="/comic/{{ next.post.slug }}" title="next">
                    <span class="fa fa-forward"></span>
                </a>
                {% endif %}
                {% if last_comic %}
                <a class="btn btn-default" href="/comic/{{ last_comic.post.slug }}" title="last">
                    <span class="fa fa-fast-forward"></span>
                </a>
                {% endif %}
            </div>  
        </div>
        <div class="row share_buttons">
            <fb:like href="http://www.facebook.com/quailcomics" width="450" layout="button_count" show_faces="true" send="false"></fb:like>
            <span id="tumblr_button_abc123"></span>
            <a href="https://twitter.com/quailcomics" class="twitter-follow-button" data-show-count="false">Follow @quailcomics</a>
        </div>
    </div>
</div>

<!-- Todo: Firgure out some way to move this outside this file -->
<script type="text/javascript">
    var tumblr_photo_source = "{{ comic.image_url }}";
    var tumblr_photo_caption = "{{ comic.title }}";
    var tumblr_photo_click_thru = "http://www.quailcomics.com{{ request.get_full_path }}";
    var tumblr_photo_tags = "webcomics,comics,captain quail";
</script>

<!-- Put this code at the bottom of your page -->
<script type="text/javascript">
    var tumblr_button = document.createElement("a");
    tumblr_button.setAttribute("href", "http://www.tumblr.com/share/photo?source=" + encodeURIComponent(tumblr_photo_source) + "&caption=" + encodeURIComponent(tumblr_photo_caption) + "&clickthru=" + encodeURIComponent(tumblr_photo_click_thru) + "&tags=" + encodeURIComponent(tumblr_photo_tags));
    tumblr_button.setAttribute("title", "Share on Tumblr");
    tumblr_button.setAttribute("target", "_blank");
    tumblr_button.setAttribute("style", "display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;");
    document.getElementById("tumblr_button_abc123").appendChild(tumblr_button);
</script>