{% extends "comicpostview.html" %}

{% block messages %}
<div>
    <div class="col-md-8 col-md-offset-2 navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><p class="navbar-text">This is a preview of how your comic will look. This is not the actual page.</p></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'comiceditview' comic.id %}"><span class="label label-default">Edit</span></a></li>
        </ul>
    </div>
</div>
{% endblock %}