{% extends "base.html" %}

{% block title %}{{ block.super }} Pebbles {% endblock %}

{% block content %}
<a href="{% url "comicaddview" %}" class="btn btn-large btn-success">Add Comic</a>
<a href="{% url "addpageview" %}" class="btn btn-large btn-success">Add Page</a>
{% for pebble in pebbles %}
    <h1>{{ pebble.title }}</h1>
        <div class="row">
            {% if pebble.comics %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Comics</p>
                    </div>
                    <div class="panel-body">
                        {% for comic in pebble.comics_by_published %}
                            <div class="row">
                                <div class="col-md-7">
                                <p class="h4 text-shortened">{{ comic.title }}</p>
                                </div>
                                <div class="col-md-5">
                                {% if comic.is_live %}
                                    <span class="label label-success">Live!</span>
                                {% else %}
                                    <span class="label label-default">Draft</span>
                                {% endif %}
                                <a href="{% url "comicpreviewview" comic.id %}">Preview</a> | 
                                <a href="{% url "comiceditview" comic.id %}">Edit</a> | 
                                <a href="{% url "comicdeleteview" comic.id %}">Delete</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if pebble.pages %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title">Pages</p>
                    </div>
                    <div class="panel-body">
                        {% for page in pebble.pages_by_published %}
                        <div class="row">
                            <div class="col-md-7">
                            <p class="h4 text-shortened">{{ page.title }}</p>
                            </div>
                            <div class="col-md-5">
                            {% if comic.is_live %}
                                <span class="label label-success">Live!</span>
                            {% else %}
                                <span class="label label-default">Draft</span>
                            {% endif %}
                            <a href="{% url "editpageview" page.id %}">Edit</a> | 
                            <a href="{% url "deletepageview" page.id %}">Delete</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
{% endfor %}


{% endblock %}