{% extends "base.html" %}
{% load gargoyle_tags %}

{% block title %}{{ block.super }} Pebbles{% endblock %}

{% block content %}
{% if pebbles %}
<div class="well">
<a href="{% url "comicaddview" %}" class="btn btn-large btn-success">
    <span class="fa fa-th-large"></span> Add Comic
</a>
<a href="{% url "addpageview" %}" class="btn btn-large btn-default">
    <span class="fa fa-file-text"></span> Add Page
</a>
<a href="{% url "characteraddview" %}" class="btn btn-large btn-default">
    <span class="fa fa-group"></span> Add Character
</a>
<a href="{% url "postaddview" %}" class="btn btn-large btn-default">
    <span class="fa fa-edit"></span> Add Post
</a>
{% ifswitch comic_tagging %}
<a href="{% url "tagaddview" %}" class="btn btn-large btn-default">
    <span class="fa fa-tag"></span> Add Tag
</a>
{% endifswitch %}
</div>
{% for pebble in pebbles %}
    <h2>{{ pebble.title }} <a href="{% url "editpebbleview" pebble.id %}" class="btn btn-xs btn-default">Edit</a></h2>
        <div class="row">
            <div class="col-md-6">
                {% if pebble.comics %}
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#comics-list-{{ pebble.id }}">
                        <p class="panel-title">Comics</p>
                    </div>
                    <div id="comics-list-{{ pebble.id }}" class="panel-body collapse in">
                        <ul class="list-group list-group-panel dashboard-list">
                        {% for comic in pebble.comics_by_published %}
                            <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                {% if comic.is_published %}
                                <a href="{{ comic.get_comic_url }}"><p class="lead text-shortened"><small>{{ comic.title }}</small></p></a>
                                {% else %}
                                <p class="lead text-shortened"><small>{{ comic.title }}</small></p>
                                {% endif %}
                                </div>
                                <div class="col-md-2">
                                {% if comic.is_published %}
                                    <span class="label label-success">Live!</span>
                                {% elif comic.is_live %}
                                    <span class="label label-info">Scheduled</span>
                                {% else %}
                                    <span class="label label-default">Draft</span>
                                {% endif %}
                                </div>
                                <div class="col-md-4">
                                <a href="{% url "comicpreviewview" comic.id %}">Preview</a> | 
                                <a href="{% url "comiceditview" comic.id %}">Edit</a> | 
                                <a href="{% url "comicdeleteview" comic.id %}">Delete</a>
                                </div>
                            </div>
                            </li>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if pebble.posts %}
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#post-list-{{ pebble.id }}">
                        <p class="panel-title">Posts</p>
                    </div>
                    <div id="post-list-{{ pebble.id }}" class="panel-body collapse in">
                        <ul class="list-group list-group-panel">
                        {% for post in pebble.posts %}
                            <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                <p class="lead text-shortened"><small>{{ post.title }}</small></p>
                                </div>
                                <div class="col-md-2">
                                {% if post.is_published %}
                                    <span class="label label-success">Live!</span>
                                {% elif post.is_live %}
                                    <span class="label label-info">Scheduled</span>
                                {% else %}
                                    <span class="label label-default">Draft</span>
                                {% endif %}
                                </div>
                                <div class="col-md-4">
                                <a href="{% url "postpreviewview" post.id %}">Preview</a> | 
                                <a href="{% url "posteditview" post.id %}">Edit</a> | 
                                <a href="{% url "postdeleteview" post.id %}">Delete</a>
                                </div>
                            </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if pebble.pages %}
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#page-list-{{ pebble.id }}">
                            <p class="panel-title">Pages</p>
                        </div>
                        <div id="page-list-{{ pebble.id }}" class="panel-body collapse in">
                            <ul class="list-group list-group-panel">
                            {% for page in pebble.pages_by_published %}
                            <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-7">
                                <p class="lead text-shortened"><small>{{ page.title }}</small></p>
                                </div>
                                <div class="col-md-2">
                                {% if page.is_live %}
                                    <span class="label label-success">Live!</span>
                                {% else %}
                                    <span class="label label-default">Draft</span>
                                {% endif %}
                                </div>
                                <div class="col-md-3">
                                <a href="{% url "editpageview" page.id %}">Edit</a> | 
                                <a href="{% url "deletepageview" page.id %}">Delete</a>
                                </div>
                            </div>
                            </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if pebble.characters %}
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#character-list-{{ pebble.id }}">
                            <p class="panel-title">Characters</p>
                        </div>
                        <div id="character-list-{{ pebble.id }}" class="panel-body collapse in">
                            <ul class="list-group list-group-panel">
                            {% for character in pebble.characters %}
                            <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-7">
                                    <p class="lead text-shortened"><small>{{ character.name }}</small></p>
                                </div>
                                <div class="col-md-5">
                                    <a href="{% url "charactereditview" character.id %}">Edit</a> | 
                                    <a href="{% url "characterdeleteview" character.id %}">Delete</a>
                                </div>
                            </div>
                            </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
{% endfor %}
{% else %}
{% include "empty_dash.html" %}
{% endif %}
{% endblock %}