<div class="row footer">
    {% if pebble_settings.copyright %}
    <p><small>{{ pebble_settings.copyright }}</small></p>
    {% else %}
    <p><small>Copyright 2014</small></p>
    {% endif %}
    <p>
        <small>
        {% if pebble_settings.twitter_page %} 
        <a href="http://twitter.com/{{ pebble_settings.twitter_page }}">@{{ pebble_settings.twitter_page }}</a> |
        {% endif %}
        {% if pebble_settings.facebook_page %}
        <a href="https://www.facebook.com/{{ pebble_settings.facebook_page }}">Find us on Facebook</a>
        {% endif %}
        </small>
    </p>
</div>