<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            {% if pebble_settings.site_title %}
                {{ pebble_settings.site_title }}
            {% else %}
                Inkpebble
            {% endif %}
        </a>
        {% if pebble_settings.tagline %}
        <p class="navbar-text"><small><em>{{ pebble_settings.tagline }}</em></small></p>
        {% endif %}
    </div>
    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% if pebble_settings.show_rss %}
            <li><a id="header-rss" href="/feed/" target="_blank">
                <span class="cq-orange fa fa-rss"></span>
            </a></li>
            {% endif %}
            {% if pebble_settings.facebook_page %}
            <li><a id="header-fb" href="https://www.facebook.com/{{ pebble_settings.facebook_page }}" target="_blank">
                <span class="cq-blue fa fa-facebook"></span>
            </a></li>
            {% endif %}
            {% if pebble_settings.twitter_page %}
            <li><a id="header-twitter" href="https://twitter.com/{{ pebble_settings.twitter_page }}" target="_blank">
                <span class="cq-light-blue fa fa-twitter"></span>
            </a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <!-- <li><a href="/accounts/profile">Profile</a></li> -->
                    <li><a href="/accounts/logout">Logout</a></li>
                </ul>
            </li>
            {% else %}
            <!-- <li><a href="/accounts/signup/">Signup</a></li> -->
            <!-- <li><a href="/accounts/login/">Login</a></li> -->
            {% endif %}
        </ul>
    </div>
</nav>
