{% extends "base.html" %}

{% block title %}Quail Comics - A comic about birds, scifi, and terrible puns.{% endblock %}

{% block content %}
{% include "messages.html" %}
{% include "comic.html" %}
<div class="row">
{% if post %}
    {% include "sidebar_ad.html" %}
    <div class="col-md-8">
        <p class="lead">{{ post.published | date:"DATE_FORMAT" }}</p>{{ post.post | safe }}
    </div>
    {% include "sidebar_ad.html" %}
{% endif %}
</div>
{% include "disqus.html" %}
{% endblock %}

{% block js_defer %}
{% include "js_comic_navigation.html" %}
{% endblock %}