{% extends "base.html" %}

{% block title %}{{ block.super }}{{ post.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="lead">{{ post.title }} ({{ post.published | date:"DATE_FORMAT" }})</p>
        {{ post.post | safe }}
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {{ post.post | safe }}
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
            {% include "disqus.html" %}
        </div>
    </div>
</div>
{% endblock %}
