{% load gargoyle_tags %}

{% ifswitch "show_ads" %}
<div class="col-md-2 hidden-sm hidden-xs sidebar-ad">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-7524527516505212";
    /* QC-Sidebar-Smaller */
    google_ad_slot = "3187950880";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
{% else %}
<div class="col-md-2 hidden-sm hidden-xs"></div>
{% endifswitch %}