{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
    <h1 class="col-md-offset-1">{{ comic.title }}</h1>
    </div>
    <div class="row">
        <img class="img-responsive comic" src="{{ comic.image_url }}" alt="{{ comic.alt_text }}"></img>
        <div class="comic_footer">
            <div class="btn-group">
                <button type="button" class="btn btn-default">
                    <a href="/comic/{{ first_comic.post.slug }}" title="first">
                        <span class="glyphicon glyphicon-step-backward"></span>
                    </a>
                </button>
                <button type="button" class="btn btn-default">
                    <a href="/comic/{{ previous.post.slug }}" title="previous">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </a>
                </button>
                <button type="button" class="btn btn-default">
                    <a href="/comic/{{ first_comic.post.slug }}" title="first">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </a>
                </button>
                <button type="button" class="btn btn-default">
                    <a href="/comic/{{ previous.post.slug }}" title="previous">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
    {% if post %}
        <p class="col-md-offset-1">{{ post.post }}</p>
    {% endif %}
    </div>
</div>
{% endblock %}